<a href="https://colab.research.google.com/github/MatthiasSimons/covid-analysis/blob/main/covid_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Programmierung und Auswertung großer Datenmengen
## Analyse der Covid-19 Fallzahlen und Impfungen

## Vorgehensweise


*   Importieren
*   Bereinigen
*   Modifizieren
*   Modellieren
*   Validieren
*   Bewerten
*   Zusammenfassen

## Importieren der Bibliotheken

In [ ]:
import pandas as pd

## Importieren der Daten

In [28]:
url_fallzahlen = "https://raw.githubusercontent.com/ocaktans/Gathering-Covid-19-Data/73623b5057979a4bca4ffdf931cc29222ad7a58e/Covid-19%20Dataset.csv"
url_impfungen = "https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv"
fallzahlen = pd.read_csv(url_fallzahlen, sep=',')
impfungen = pd.read_csv(url_impfungen, sep=',')

## Beschreibung der Daten

### Datensatz: Covid-19 Fallzahlen

Bei dem Covid-19-Data Datensatz handelt es sich um einen Datensatz der die Entwicklung der Covid-19 Fallzahlen weltweit täglich abbildet

In [26]:
fallzahlen.head()

   Unnamed: 0      Country        Date  ...  Population_1k     TenCase  Cases/1000s
0           0  Afghanistan  2020-01-22  ...          38928  2020-03-11          0.0
1           1  Afghanistan  2020-01-23  ...          38928  2020-03-11          0.0
2           2  Afghanistan  2020-01-24  ...          38928  2020-03-11          0.0
3           3  Afghanistan  2020-01-25  ...          38928  2020-03-11          0.0
4           4  Afghanistan  2020-01-26  ...          38928  2020-03-11          0.0

[5 rows x 14 columns]

Beschreibung der Spalten:
- Country: Länder Namen
- Date: Datum
- Confirmed: Kumulative bestätigte Fälle
- Recovered: Kumulative Genesene Fälle
- Deaths: Kumulative Verstorbene
- Active Cases: Aktive Fälle
- Death Rate(%):
- Increase: Tägliche Steigerung der bestätigten Fälle
- FirstDays: Tag an dem der erste Fall gemeldet wurde
- day_xth: verstrichene Tage seit dem ersten gemeldeten Fall
- Population_1k: Einwohnerzahl in Tausend
- TenCase: Tag an dem Zehn Fälle gemeldet wurden
- Cases/1000s: Fälle pro Tausend Einwohner

In [29]:
fallzahlen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92737 entries, 0 to 92736
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     92737 non-null  int64
 1   Country        92737 non-null  object
 2   Date           92737 non-null  object
 3   Confirmed      92737 non-null  int64
 4   Recovered      92737 non-null  int64
 5   Deaths         92737 non-null  int64
 6   Active Cases   92737 non-null  int64
 7   Death Rate(%)  92737 non-null  float64
 8   Increase       92737 non-null  int64
 9   FirstDays      92737 non-null  object
 10  day_xth        92737 non-null  int64
 11  Population_1k  92737 non-null  int64
 12  TenCase        90322 non-null  object
 13  Cases/1000s    92737 non-null  float64
dtypes: float64(2), int64(8), object(4)
memory usage: 9.9+ MB

### Datensatz: Covid-19 Impfrate

Bei diese, Datensatz handelt es sich um einen Datensatz der die Entwicklung der Covid-19 Impfungen weltweit täglich abbildet

In [40]:
impfungen.head()

      location  ... daily_vaccinations_per_million
0  Afghanistan  ...                            NaN
1  Afghanistan  ...                           35.0
2  Afghanistan  ...                           35.0
3  Afghanistan  ...                           35.0
4  Afghanistan  ...                           35.0

[5 rows x 12 columns]