<a href="https://colab.research.google.com/github/MatthiasSimons/covid-analysis/blob/main/covid_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [14]:
url = "https://raw.githubusercontent.com/MatthiasSimons/covid-analysis/main/Covid-19%20Dataset.csv"
#cols = ["Country","Date","Confirmed","Recovered","Deaths","Active Cases","Death Rate(%)","Increase","FirstDays","day_xth","Population_1k","TenCase","Cases/1000s"]

pd.read_csv(url, sep=',')

           Country        Date  ...     TenCase  Cases/1000s
0      Afghanistan  2020-01-22  ...  2020-03-11     0.000000
1      Afghanistan  2020-01-23  ...  2020-03-11     0.000000
2      Afghanistan  2020-01-24  ...  2020-03-11     0.000000
3      Afghanistan  2020-01-25  ...  2020-03-11     0.000000
4      Afghanistan  2020-01-26  ...  2020-03-11     0.000000
...            ...         ...  ...         ...          ...
92732     Zimbabwe  2021-05-14  ...  2020-04-06     2.592854
92733     Zimbabwe  2021-05-15  ...  2020-04-06     2.594133
92734     Zimbabwe  2021-05-16  ...  2020-04-06     2.594536
92735     Zimbabwe  2021-05-17  ...  2020-04-06     2.595344
92736     Zimbabwe  2021-05-18  ...  2020-04-06     2.596891

[92737 rows x 13 columns]